**/target
/bin/
.idea
**/log
**/*production.conf
**/lib

**/Makefile
**/data
**/internal
**/build
**/config.json

build/
node_modules/
flow-typed/
dist/
static/dist/
/**/*.log
**/dist/
**/lib/

.metals
.vscode
